.venv/
venv_old/
*_files/
.env
old/
*.html
*.log
*.ipynb
!dev.ipynb
test.qmd
*.pyc
.vscode/settings.json
/.luarc.json
.ipynb_checkpoints/*
cache/

# installed packages
*.egg-info
*.whl
*.tar.gz

tests/
data/
metoffice/
_dev